$classFont: 'Cormorant Garamond'
$modFont: 'Lato'

$primeBlue: #104357
$primeWhite: #FFFFFF
$primeGreen: #24A781
$primeGray: #646464
$primeBlack: #000000
$secWhite: #F4F3F2
$secGray: #D0D0D0
$secBlue: #1D7DA3
